$primary-color: #099d8d;
$secondary-color: #14d9c4;
$tertiary-color: #54585a;
$white: #fff;
$black: #000;
$black-opacity: rgba(0, 0, 0, 0.08);
$complementary-color: #b8b8b9;
$complementary-color-opacity: rgba(184, 184, 185, 0.1);


$font-title: 'Rubik';
$font-text: 'Open Sans';