footer {
    border-top: $complementary-color solid 1px;
    padding-top: 30px;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Esto lo he visto en el vídeo de columna central,
que recomienda hacer un div container con el margin
para así reutilizarlo en otras partes */
.container {
    margin: 0 15px;
}

.footer_title {
    width: 100%;
    height: 20px;
    font-family: $font-text;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: $complementary-color;
}

.footer_item_list {
    width: 100%;
    height: 60px;
    opacity: 0.75;
    font-family: $font-text;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: $tertiary-color;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
    list-style-type: none;
}

.footer_items_anchor {
    color: $tertiary-color;
}

.footer_logo {
    margin-top: 30px;
    width: 115.9px;
}

.footer_logo>img {
    width: 100%;
}

@media (min-width: 768px) {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 170px;
    }


    .footer_title {
        display: flex;
        margin-right: 20px;
    }

    .footer_item_list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: auto;
        margin-right: 45px;
        opacity: 0.75;
        font-family: $font-text;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: right;
        color: $tertiary-color;
        order: -1;
    }

    .footer_logo {
        align-self: flex-start;
       
    }
}