.website_header {
    width: 100%;
    height: auto;
<<<<<<< HEAD
    opacity: 0.95;
    background-color: var(--blue-green);
=======
>>>>>>> new-dev
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
}

.header_title {
    width: 100%;
<<<<<<< HEAD
    height: 30px;
    font-family: Rubik;
=======
    height: 60px;
    font-family: $font-title;
>>>>>>> new-dev
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
<<<<<<< HEAD
    color: var(--white);
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
=======
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color-opacity;
>>>>>>> new-dev
}

.menu {
    display: flex;
<<<<<<< HEAD
    justify-content: space-around;
    width: 100%;
    height: 45px;
    padding: 8px 17px 7px 16px;
    opacity: 0.9;
    background-color: var(--aqua);
=======
    width: 100%;
    height: 45px;
    padding: 0px 16px;
    background-color: $secondary-color-opacity;
    align-items: center;
>>>>>>> new-dev
}

.menu_items {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
<<<<<<< HEAD
    font-family: Rubik;
=======
    font-family: $font-title;
>>>>>>> new-dev
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
<<<<<<< HEAD
    color: var(--white);
}

.header_items_anchor {
    color: var(--white);
=======
    color: $white;
}

.header_items_anchor {
    color: $white;
    &:hover{
        color: $secondary-color;
    }
>>>>>>> new-dev
}

@media (min-width: 768px){
    .website_header {
        display: flex;
        flex-direction: row;
<<<<<<< HEAD
        padding: 10px 15px 10px 45px;
        align-items: center;
        height: 60px;
=======
        padding: 0px 45px;
        align-items: center;
        height: 60px;
        background-color: $primary-color-opacity;
>>>>>>> new-dev
    }

    .header_title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
<<<<<<< HEAD
    }

    .menu {
        background-color: var(--blue-green);
=======
        background-color: transparent;
    }

    .menu {
        background-color: transparent;
>>>>>>> new-dev
        padding: 5px;
        align-items: center;
    }

<<<<<<< HEAD
=======
    .menu_items {
        gap: 30px;
        justify-content: flex-end;
    }

}

@media (min-width: 1200px) {

    .website_header {
        padding: 0px 142px;
    }

    .menu_items {
        gap: 30px;
        justify-content: flex-end;
    }

>>>>>>> new-dev
}