.hero__image {
    height: 421px;
    background-image: url(../images/hero_img.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 1200px) {
            height: 550px;
    }
}

.box__hero {
    width: 90%;
    height: 80px;
    background-color: $white;
    color: $black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    line-height: 25px;
    font-family: 'Open Sans';
    position: absolute;
    top: 387px;
    left: 0;
    right: 0;
    margin: 0 auto; 
        @media (min-width: 768px) {
            margin: 0 0 0 46px;
            width: 450px;
            padding: 15px 30px 15px 30px;
            top: 341px;
            text-align: left;
            background-color: rgba(255, 255, 255, 0.8);
        }
        @media (min-width: 1200px) {
            margin: 0 0 0 138px;
            width: 580px;
            top: 460px;
            font-size: 24px;
            line-height: 30px;
            height: 90px;
            background-color: rgba(255, 255, 255, 0.8);
        }
}
