<<<<<<< HEAD
.hero_image {
    height: 421px;
    background-image: url(../images/ambar-perrito-1-1024x899.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box_hero {
=======
.hero__image {
    height: 421px;
    background-image: url(../images/hero_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 1200px) {
            height: 550px;
    }
}

.box__hero {
>>>>>>> new-dev
    width: 90%;
    height: 80px;
    background-color: $white;
    color: $black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    line-height: 25px;
    font-family: 'Open Sans';
    position: absolute;
    top: 387px;
    left: 0;
    right: 0;
<<<<<<< HEAD
    margin: 0 auto;  
}

@media (min-width: 768px) {
    .box_hero {
        margin: 0 0 0 46px;
        width: 441px;
        padding: 15px 30px 15px 30px;
        top: 341px;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.8);
    }

}

@media (min-width: 1200px) {
  

    .hero_image {
        height: 550px;
    }

    .box_hero {
        margin: 0 0 0 138px;
        width: 574px;
        top: 460px;
        font-size: 24px;
        line-height: 30px;
        height: 90px;
        background-color: rgba(255, 255, 255, 0.8);
        }
}
=======
    margin: 0 auto; 
        @media (min-width: 768px) {
            margin: 0 0 0 46px;
            width: 441px;
            padding: 15px 30px 15px 30px;
            top: 341px;
            text-align: left;
            background-color: rgba(255, 255, 255, 0.8);
        }
        @media (min-width: 1200px) {
            margin: 0 0 0 138px;
            width: 574px;
            top: 460px;
            font-size: 24px;
            line-height: 30px;
            height: 90px;
            background-color: rgba(255, 255, 255, 0.8);
        }
}
>>>>>>> new-dev
