
.container_section_personas{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    text-align: center;
    width: 320px;
}

.title_section_personas{
    width: 193px;
    height: 45px;
    margin: 10px auto;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: $primary-color;
}

  .content_persona_image{
    margin: 10px auto; 
  }
  
  .persona_image{
    background-image: url(../images/izaskun_img.jpg);
    width: 180px;
    height: 180px;
    border-radius: 4px;
    outline: solid 5px $complementary-color;
}

.content_persona_text_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;

}

.content_persona_text_bio {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    width: 100%;
    height: 130px;
    margin: 15px 0 15px 0;
    padding: 0 15px 0 15px;
}

.socialshare_icon_list {
  width: 124px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  list-style-type: none;
  color: $primary-color;
  margin: 60px auto;
  padding: 15px auto;
}

.icono {
  margin-inline: 5px;
  display: inline;
  margin-top: 30px;
}

  
  @media (min-width: 768px){

    .content_persona{
      min-width: 600px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
  }

  .content_persona_text{
      margin-left: 50px;
      text-align: left;
  }

  .socialshare_icon_list{
    text-align: left;
    min-width: 600px;
  }

  }