.section_team {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.section_team_title {
    font-size: 1.5rem;
    font-family: 'Rubik';
    font-weight: 500;
    color: var(--aqua);
    padding-top: 30px;
    line-height: 2.813rem;
}

.section_team_text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Open Sans';
    color: var(--gunmetal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}
.section_team_text>p {
    text-align: center;
}


.rombo {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    position: relative;
    rotate: 45deg;
    margin: 0 auto;
    top: 15px;
}

@media (min-width: 768px) {
    .section_team {
        padding: 0 45px;
    }

    .section_team_title {
        color: var(--blue-green);
    }
}

@media (min-width: 1200px) {
    .section_team {
        padding: 0 300px;
    }
}