<form action="https://dev.adalab.es/api/form" class="form">
  <label class="form__label" for="name">Nombre completo <span>*</span></label>
  <input class="form__box" type="text" name="name" id="name" placeholder="Nombre..." />
  <div class="form__grid">
    <div class="email">
      <label class="form__label" for="email">Email <span>*</span></label>
      <input class="form__box" type="email" name="email" id="email" placeholder="pepitapig@gmail.com" />
    </div>
    <div class="phone">
      <label class="form__label" for="phone">Teléfono</label>
      <input class="form__box" type="tel" name="phone" id="phone" placeholder="Ej: 123456789" />
    </div>
  </div>
  <label class="form__label" for="message">Mensaje <span>*</span></label>
  <input class="form__box form__box-message" type="text" name="message" id="mesage" placeholder="¿Qué necsitas?" />

  <input class="form__button" type="submit" value="ENVIAR" />
</form>
