<section class="contact">
  <h2 class="contact_title">CONTACTO</h2>
  <p class="contact_text">
    ¡Gracias por tu interés! Estamos encantados de proporcionarte más información por ello, te invitamos a completar nuestro breve cuestionario/formulario.
  </p>
  <p class="contact_text">
    Tu satisfacción es nuestra prioridad, y estamos comprometidos a brindarte la mejor experiencia posible.
  </p>
  <p class="contact_text">
   ¡Esperamos con entusiasmo recibir tu solicitud y poder ayudarte en todo lo que necesites!
  </p>
  <p class="contact_must">Todos los campos marcados con <span class="asterisk">*</span> son obligatorios.</p>
</section>
