<footer>
  <div class="container">
    <span class="footer_title">Pull&Cry &copy; 2024</span>
    <ul class="footer_item_list">
      <li><a class="footer_items_anchor" href="#equipo-id">EQUIPO</a></li>
      <li><a class="footer_items_anchor" href="#quienes-somos-id">QUIÉNES SOMOS</a></li>
      <li><a class="footer_items_anchor" href="contact.html">CONTACTO</a></li>
    </ul>
    <div class="footer_logo">
      <img src="../images/logo-adalab.png" alt="adalab_logo" />
    </div>
  </div>
</footer>