<div class="container_section_personas">
    <h2 class="title_section_person">QUIENES SOMOS</h2>
          <!-- Aquí comienza la imagen de la persona -->   
          <div class="persona_complet">
      <div class="image_person">     
        <figure>
              <img src="../images/izaskun_img.jpg" alt="Izaskun Saez" class="img_izaskun" />
        </figure>
      </div>
          <!-- Aquí comienza la información en texto -->                
        <div class="text_section">
                <div class="nombre_persona">
                  <h4>Izaskun Sáez</h4>
                </div>

                <div class="info_persona_text">
                  <p>Este es un texto informativo de cada una de nosotras ipsum dolor sit amet consectetur adipisicing elit.
                    Amet deserunt consectetur consequatur laborum.
                    Nisi molestias similique quam est veniam, consequatur vitae culpa porro aperiam eaque. Facilis sapiente
                    voluptate impedit doloremque.</p>
                </div>

              <!-- Aquí comienza la zona de iconos de social media -->
                <div class="social_share">
                  <ul>
                    <li class="icono">
                      <i class="fa-brands fa-square-x-twitter"></i>
                    </li>
                    <li class="icono">
                      <i class="fa-brands fa-linkedin-in"></i>
                    </li>
                    <li class="icono">
                      <i class="fa-brands fa-github-alt"></i>
                    </li>
                    <li class="icono">
                      <i class="fa-solid fa-envelope"></i>
                    </li>
                  </ul>
              </div>
        </div>
      </div> 
</div>