<div class="container_section_personas">
  <h2 class="title_section_personas">QUIÉNES SOMOS</h2>
  <!-- Aquí comienza la imagen de la persona -->
  <div class="content_persona content_persona_left">
    <div class="content_persona_image">
      <figure>
        <img src="/images/izaskun_img.jpg" alt="Izaskun Saez" class="persona_image" />
      </figure>
    </div>
    <!-- Aquí comienza la información en texto -->
    <div class="content_persona_text">
      <h4>Izaskun Sáez</h4>
      <p>
        ¡Hola! yo soy Izaskun 🙋🏻‍♀️ tengo 42 años y soy diseñadora UX/UI desde hace más de 10 años. Cuando no estoy delante
        de una pantalla me gusta bordar y construir miniaturas. Desde que me levanto tengo la radio o música puesta y mi
        gata sia 😽 (AKA Chipi) aprovecha cualquier ocasión para tirar las cosas que tengo encima de la mesa 😍
      </p>
      <!-- Aquí comienza la zona de iconos de social media -->
      <ul class="socialshare_icon_list">
        <li class="icono">
          <a href="https://twitter.com/isaezdesign" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
        </li>
        <li class="icono">
          <a href="https://www.linkedin.com/in/izaskunsaez/" target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="icono">
          <a href="https://github.com/izaskunsv" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
        </li>
        <li class="icono">
          <a href="mailto:isaezvelasco@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content_persona content_persona_right">
    <div class="content_persona_image">
      <figure>
        <img src="/images/bea_img.jpeg" alt="Bea Ruf" class="persona_image" />
      </figure>
    </div>
    <!-- Aquí comienza la información en texto -->
    <div class="content_persona_text">
      <h4>Beatriz Ruf</h4>
      <p>
        En la foto, Bea se presenta como el cuarto mono, el observador tímido que, al igual que los primates, guarda
        silencio al principio. Sin embargo, cuando ella decide hablar, resulta ser el mono más parlante y gracioso del
        grupo. ¡Un cuarto mono con un sentido del humor tan contagioso como su risa!
      </p>
      <!-- Aquí comienza la zona de iconos de social media -->
      <ul class="socialshare_icon_list">
        <li class="icono">
          <a href="https://twitter.com/bea_noworries" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
        </li>
        <li class="icono">
          <a href="" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="icono">
          <a href="https://github.com/bearm12" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
        </li>
        <li class="icono">
          <a href="mailto:bearm12493@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content_persona content_persona_left">
    <div class="content_persona_image">
      <figure>
        <img src="/images/mar_img.jpeg" alt="Mar Caballero" class="persona_image" />
      </figure>
    </div>
    <!-- Aquí comienza la información en texto -->
    <div class="content_persona_text">
      <h4>Mar Caballero</h4>
      <p>
        ¡Hola mundo! 🌞Soy Mar y tengo 29 primaveras 🌸 Siempre me he dedicado al mundo de la sanidad, pero estoy
        buscando mi hueco detrás de la pantalla. Me encanta la música, un buen libro, una fiestecilla y sobre todo
        recorrer el mundo. Me encanta el chisme, así que si te gusta cotorrear ¡soy tu fiel aliada! 😜
      </p>
      <!-- Aquí comienza la zona de iconos de social media -->
      <ul class="socialshare_icon_list">
        <li class="icono">
          <a href="https://twitter.com/chocorizos_" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
        </li>
        <li class="icono">
          <a href="http://linkedin.com/in/mar-caballero-moryno-511398204" target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="icono">
          <a href="https://github.com/Mar-CM" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
        </li>
        <li class="icono">
          <a href="mailto:mar.caballero@hotmail.es" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content_persona content_persona_right">
    <div class="content_persona_image">
      <figure>
        <img src="/images/lejla_img.jpeg" alt="Lejla Dzanko" class="persona_image" />
      </figure>
    </div>
    <!-- Aquí comienza la información en texto -->
    <div class="content_persona_text">
      <h4>Lejla Dzanko</h4>
      <p>
        ¡Hola! 👋🏻 Soy Lejla, tengo 30 años. Me dedico a dar clases y a la traducción. Los idiomas siempre han sido mi
        pasión: empecé a aprender español viendo telenovelas con mi abuela y también estudié inglés en la universidad.
        Me encanta viajar, cocinar y me chiflan los detalles, tanto darlos como recibirlos 💌. Soy fanática del flower
        pattern 🌼 y me gusta luchar por tener un mundo más consciente y justo ♻️.
      </p>
      <!-- Aquí comienza la zona de iconos de social media -->
      <ul class="socialshare_icon_list">
        <li class="icono">
          <a href="https://twitter.com/lejladzanko" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
        </li>
        <li class="icono">
          <a href="https://www.linkedin.com/in/lejla-dzanko/" target="_blank"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="icono">
          <a href="https://github.com/lejladzanko" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
        </li>
        <li class="icono">
          <a href="mailto:lejladzanko@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
