<section class="section_strength_and_weakness">
    <div class="section_strength">
      <h3 class="section_strength_title">Fortalezas</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet fugiat ullam labore a laboriosam doloribus.
        Ad cum odit iusto earum perspiciatis, asperiores possimus ea ullam cupiditate recusandae esse eaque autem.
      </p>
    </div>
    <div class="section_weakness">
      <h3 class="section_weakness_title">Debilidades</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum excepturi cupiditate nihil dolores voluptates,
        autem corrupti, aliquid neque porro tempore saepe corporis rerum dolorem non laborum quia expedita. Enim,
        aliquam!
      </p>
    </div>
  </section>