<section class="section_team">
    <h2 class="section_team_title">EQUIPO</h2>
    <div class="section_team_text">
      <p>
        Pull & Cry es más que un grupo de programación, cuatro chicas audaces fusionan determinación con emociones para conquistar el mundo de la programación. Se distingue por su enfoque valiente y positivo hacia la resolución de conflictos en el código.
      </p>
      <p>
        Guiados por el lema "No llores por los conflictos, celebremos las resoluciones", demuestran una determinación inquebrantable para enfrentar desafíos en el desarrollo de software. Aquí, cada error es un paso más cerca del éxito. Esta mentalidad colaborativa fomenta un ambiente de trabajo positivo y fortalece la unidad del equipo.
      </p>
    </div>
  </section>
  <div class="rombo"></div>