<section class="section_team">
    <h2 class="section_team_title">EQUIPO</h2>
    <div class="section_team_text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A quasi commodi tempore numquam. Vitae quia soluta
        laboriosam sapiente. Dolore tempore rerum inventore rem cum perspiciatis repellat architecto numquam odio?
        Natus!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nisi maiores? Reprehenderit ab, veniam minus
        distinctio perferendis consectetur qui, aliquam harum id quo incidunt, corporis ea porro ducimus sed
        obcaecati!
      </p>
    </div>
  </section>
  <div class="rombo"></div>